/*REGOLE GENERICHE*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sfondo_blu{
  min-height: 100px;
  background: #2C3E50;
}
.sfondo_verde{
  background:#1ABC9C;
  color:white;
}
.center{
  text-align: center;
}
.margin-bottom{
  margin-bottom: 50px;
}
.text{
  color: #2c3e50;
}
.text2{
  border-color: #2c3e50;
}
/*REGOLE HEADER*/
ul.nav a, a.navbar-brand{
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
a.navbar-brand{
  font-size: 30px;
}
ul.nav a:hover{
  background-color: none;
  color: #1abc9c;
}
div.row img{
  height: 200px;
  margin: 50px 0;
}
h1{
  font-size: 60px;
  font-weight: bold;
}
p{
  font-size: 20px;
}
#quadrati img{
  height: 250px;
  text-align: center;
  border-radius: 3%;
}
.no-bordo{
  border: none
}
span.border{
  display: inline-block;
  width: 30%;
  border-bottom: 2px solid;
  margin: 0 10px 13px;
}
.stellina{
  font-size: 26px;
}
